.mob_name_row{
    display: none;
    padding: 0px 0px 0px 30px;
    margin: 0px;
}
.mob_name_col{
    padding: 10px 0px 10px 0px;
    margin: 0px;
}
.chip {
    display: inline-block;
    padding: 0 25px;
    height: 65px;
    font-family: MLTTKarthikaUni;
    font-size: 15px;
    color: #006caa;
    font-weight: bold;
    line-height: 18px;
    text-align: justify;
}
.chip img {
    float: left;
    margin: 0 10px 0 -25px;
    height: 60px;
    width: 110px;

}
.news_type{
    display: none;
}
.news_type_row{
    padding: 5px;
    background-color:#f3f1f1;
}
.news_types_div{
    padding: 5px;
    text-align: center;
    border: 1px solid#c7c7c7;
}
.mobile_carousel{
    display: none;
}


/* MOBILE VIEW*/

@media (max-width:900px) {
    .mob_name_row{
        display: contents;
    }
    .scrollmenu{
        margin-top: 10px;
    }
    .news_type{
        display: contents;
    }
    .follow_us{
        display: none;
    }
    .namerow{
        display: none;
    }
    .carusel_row{
        display: none;
    }
    .top_brakeline{
        display: none;
    }
    .br_navbar{
        display: none;
    }
    div.scrollmenu {
         border-radius: 10px;
    }
    .mobile_carousel {
        display: inline;
        padding: 0px;
    }
}